/* 
    Custom CSS Reset based on Josh W. Comeau's reset
    Source: https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

#root, #__next {
    isolation: isolate;
}

/* 
    CSS Variables
*/
:root {
    --bg-colour: #f9f9f9;
    --text-color: #1c1c1c;
    --button-bg: #000;
    --button-text: #f9f9f9;
    --accent: #3c4caa;
    --border-color: #808080;
    --caption-text: #949494;
    --hover-accent:#5c6bc0;
    --focus-ring: #9fa8da;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #1e1e1e;
        --text-color: #f5f5f5;
        --button-bg: #f9f9f9;
        --button-text: #1e1e1e;
        --accent: #9fa8da;
        --border-color: #949494;
        --caption-text: #808080;
        --hover-accent:#5c6bc0;
        --focus-ring: #9fa8da;
    }
}

/*
    Base Enhancements
*/
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
}